<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' media='screen' href='log.css'>
    <script src='log.js'></script>
</head>
<body>
    
        <div class="wrapper">
            <form method ="post" action="/login" th:object="${loginRequest}">
            <h1>
                LOGIN
            </h1>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <i class='bx bxs-lock'></i>
                
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="remember-forget">
                   <label><input type="checkbox">Remember me</label>
                   <a href="#">Forget password?</a> 
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                <p>Didnt have account?<a href="/register">Register</a></p>
                </div>

                
                
            </div>
             </form>
        </div>
    
    
</body>
</html>